.friendList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.item {
    width: 270px;
    display: flex;    
    align-items: center;
    margin-top: 15px;
    border: solid 1px #d8e0ea;
        background-color: antiquewhite;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.statusOnline {
width: 15px;
height: 15px;
background-color: green;
border-radius: 100%;
}

.statusOfline {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 100%;
}

.name {
    width: 100px;
margin-left: 20px;
font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
}